<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark side-container">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none brand">
          <h1><mat-icon class="icon">code</mat-icon>All day developers</h1>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a [routerLink]="['/user/home']"  routerLinkActive="active" class="nav-link link-light" aria-current="page">
              <svg class="bi me-2" width="16" height="16"></svg>
              <mat-icon class="link-icon">home</mat-icon>
              Home
            </a>
          </li>
          <li>
            <a [routerLink]="['create/post']" routerLinkActive="active" class="nav-link link-light">
              <svg class="bi me-2" width="16" height="16"></svg>
              <mat-icon class="link-icon">post_add</mat-icon>
              Create post
            </a>
          </li>
          <li>
            <a [routerLink]="['list/post']" routerLinkActive="active" class="nav-link link-light">
              <svg class="bi me-2" width="16" height="16"></svg>
              <mat-icon class="link-icon">format_list_bulleted</mat-icon>
              My posts
            </a>
          </li>
          <li>
            <a [routerLink]="['/user/partners']" routerLinkActive="active" class="nav-link link-light">
              <svg class="bi me-2" width="16" height="16"></svg>
              <mat-icon class="link-icon">groups</mat-icon>
              Partners
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{identity.image && identity.image!=null ? url+'/avatar/'+identity.image:'https://icons.iconarchive.com/icons/goescat/macaron/256/gimp-icon.png'}}" alt="User image" width="32" height="32" class="rounded-circle me-2">
            <strong>{{identity.name+" "+identity.surname}}</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" [routerLink]="['/user/settings']">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/user/logout']">Sign out</a></li>
          </ul>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>


