<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold title">{{title}}</h1>
      <p class="col-md-8 fs-4 text">Here you can found all about develop in all languages as you can imaginate. If you don´t know nothing, don´t woeey, we are a really friendly comunity where you can learn new things every day. You can ask, comment, watch and help the problems of other users around the world.</p>
      <button class="btn btn-primary btn-lg me-2" type="button" [routerLink]="['/register']">Register now</button>
      <button class="btn btn-warning btn-lg mt-2 mt-sm-0" type="button">Watch some users posts</button>
    </div>
</div>
